body{
    background-color:whitesmoke;
  }
  nav{
 
    background-color:blue;
    height:100px;
    margin-top:0px;
    padding-top:0px;
    
  }
  ul{
    list-style: none;
  }
  li{
    float: left;
  }
  ​
  .te2{
    padding-left:600px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .te3{
    padding-left:20px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .te4{
    padding-top: 40px;
    padding-left:20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .te{
 
    padding:20px;
    padding-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
    font-size: 40px;
  }
  .full{
    background-color:whitesmoke;
    height:800px;

  }
  .half1{
    background-color:whitesmoke;
   width:952px;
   height:800px; 
   float:left;
   
  }
  .half2{
    float: left;
    background-color:whitesmoke;
    width:952px;
    height:800px;
  }
  .la{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  a{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .h{
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    padding-left:235px;
  }
  .h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
    padding-left:235px;
   
  }
  .h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding-left:235px;
    
  }
  .h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding-left:235px;
  }
  .h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    padding-left:235px;
    
  }
  .th1{
    padding-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  .th2{
    padding-left: 200px;
    font-size: 20px;
  }
  .i1{
    margin-left: 200px;
    width:200px ;
    height:30px;
  }
  .i2{
    margin-left: 20px;
    width:150px ;
    height:30px;
  }
  .i3{
    margin-left: 200px;
    width:382px ;
    height:30px;
    margin-top: 40px;
  }
  .i4{
    margin-left: 20px;
    width:200px ;
    height:25px;
  }
  .sel1{
    margin-left: 200px;
    margin-top: 10px;
  }
  .sel2{
    margin-left: 2px;
 }
  .ta2{
    padding-left: 390px;
    font-size: smaller;
    font-family: Helvetica;
  }
  .ta1{
    padding-left: 15px;
    font-family: Helvetica;
    font-size: smaller;
  }
  .r1{
  margin-left: 200px;
  font-size: larger;
  }
  .r2{
    margin-left: 15px;
   
  }
  .ta21{
    padding-left: 200px;
    font-family: Helvetica;
    font-size: smaller;
  }
 .bt2{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    background-color: green;
    
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: Helvetica;
  }